<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was create  by Caio Miranda. It uses data from mapbox.com and darksky.net !</p>
            <img class="portrait" src="/img/homer.png">
        </div>
        
        {{>footer}}
    </body>
</html>