<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{textHelp}}</p>
        </div>
        
        {{>footer}}
    </body>
</html>